nav li {
    font-size: 0.75rem;
    font-family: $b_font;
    padding: 0.7rem 0;

    a{
        text-decoration: none;
        letter-spacing: .05rem;
        font-weight: bold;
    }
}

.nav_focused::before {
    content: url('../img/focused_arrow.svg');
    padding-right: 0.7rem ;
}

.nav_link {
    padding: 0.4rem;
    transition: 0.1s;
}

.nav_link:hover {
    color: $important;
    transition: .1s;
}