.search_bar_contener {
    text-align: right;
    width: 115%;
    margin: 0 0 2.7rem 0;
}


.search_bar {
    padding: 0.5rem 1rem;
    border: black solid 1px;
    border-radius: 4px;
    width: 220px;
}
