.aside {
    position: fixed;
    left: 0;
    width: 290px;
    height: 100vh;
}

.main {
    margin-left: 290px;
    padding: 1rem 12%;
}

nav {
    margin: 5rem 2.75rem;
}

.feedback {
    margin: 5rem  2.75rem;

}

