
@media screen and (min-width: 900px) {

    .nav_control{
        position: absolute !important;
        border: 0 !important;
        height: 1px !important;
        width: 1px !important;
        padding: 0 !important;
        overflow: hidden !important;
        clip: rect(0, 0, 0, 0) !important;
}


}


@media screen and (max-width: 900px) {


    body {
        h1 {
            text-align: left;
            padding: 2rem 1rem;
            margin: 2.5rem 0 0rem 0;
        }

        .admin_log{
            padding: 0;
        }
    }



    header.aside {
        position: relative;
        top: -3rem;
        right: 0;
        height: 15rem;
        width: auto;
    }

    main.main {
        margin-left: 0;
        padding: 2rem 3rem;
    }

    .mobile {
        position: fixed;
        right: -20rem;
        top: 0;
        height: 100vh;
        width: 20rem;
        background-color: #262f31;
        z-index: 100000;
        transition: .7s;
        box-shadow: 1px 1px 20px 0px #00000038;

    }

    img.pp{
        position: absolute;
        top: 12rem;
        right: calc(50vw - 50px);
        margin: auto;
    }

    .nav_control {
        position: absolute;
        top: 2rem;
        right: 1rem;
        z-index: 10000000000;
    }


    .close_nav{
        img {
            width: 0;
        }
    }


    .open_nav{
        width: auto;
    }

    input:checked ~ .nav_control .open_nav {
        display: inline;
        img{
            width: 0;
        }
    }

    input:checked ~ .nav_control .close_nav {
        display: inline;
        img{
            width: auto;
        }
    }

    input:checked ~ .mobile {
        right: -0rem;
    }




    }










@media screen and (max-width: 400px) {


    main.main {
        margin-left: 0;
        padding: 2rem 1rem;
    }

}
