.profil_img {
    height: 200px;
}

.book_profil {
    height: 150px;
}

.books_list {
    display: flex;
    flex-wrap: wrap;
}

.name_forprofil {

    text-align: center;
    margin: auto;
    margin: 1rem;
    font-size: 1.5rem;
}


.profil_info_overall-box {
    background-color: #fff;
    padding: 4rem;
    max-width: 1025px;
    justify-content: space-around;
    box-shadow: 0px 2px 6px 0px #c2c2c2;
        h2 {
            font-size: 1.7rem;
        }
}


.profil_order {
    margin-bottom: 4rem;
}

.profil_com {
    text-align: center;
    margin: 2rem;
    .cta {
        margin: auto;
    }
    textarea{
        height: 5rem;
        width: 90%;
    }
}


.archived_order{
    margin-bottom: 2rem;
    h3{
        padding: 1rem 0 .1rem 0;
    }
    img{
        filter: grayscale(80%);
    }
}
